* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.product {
    padding-top: 100px;

}



.div {
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container .product-content-left {

    width: 60%;
    padding-left: 70px;

}

.product-content-left-pic2 {
    padding-left: 1px;
}





.container .product-content-right {
    width: 40%;
    padding-right: 15px;
    margin-left: -30px;
    margin-top: 10px
}

.product-content-right-name {
    font-size: 12px;
}

.text-detail {
    font-size: 12px;

}

.product-content-right-price {
    margin: 12px 0;
    font-size: 16px;
}

.product-content-right-color {
    margin: 12px 0;
    font-size: 16px;
}

.product-content-right-color-img img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.product-content-right-color-img {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-content-right-size span {
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid black;
    margin: 0 10px 12px 0;
    font-size: 12px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 14px;
}

.product-content-right-button button {
    margin: 12px 0;
    width: 150px;
    display: block;
    height: 40px;

}

.product-content-right-button-first {

    justify-content: space-evenly;
    align-items: center;
    background-color: #ffff;
    border: 1px solid black;
    cursor: pointer;

}

.product-content-right-button-first:hover {
    background-color: black;
    color: #ffff;
}

.product-content-right-button-second {

    justify-content: space-evenly;
    align-items: center;
    background-color: #ffff;
    border: 1px solid black;
    cursor: pointer;

}

.product-content-right-button-second:hover {
    background-color: black;
    color: #ffff;
}

.text-detail {
    font-size: 14px;
}

.container .product-related {
    padding-left: 70px;

}

/* .product-related-item img {
    display: block;
} */

.product-content-right-detail li {
    font-size: 13px;
    list-style: none;
}

.product-related {
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;

}

.product-related-title {
    margin-top: 40px;
}

.product-related-title p {
    font-size: 16px;
    font-weight: bold;
    text-align: left;


}

.product-related-item {
    padding-top: 20px;
    width: 20%;



}

.product-related-item img {
    width: 99%;
    cursor: pointer;
}

.product-related-item p {
    cursor: pointer;
    font-size: 10px;
    padding-right: 10px;
    padding-left: 10px;
    height: 15px;


}

.product-related-item-price {
    font-size: 11px;
    padding-left: 10px;
    padding-top: 20px;

}

.product-related-slider {
    position: relative;

}

.slider-icon {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-icon i {
    font-size: 32px;
    height: 50px;
    width: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: rgb(251, 245, 245);


}